<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fd6be612-fc89-4183-a5ce-201ddae87499" Alias="AboutUsMemo" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">هذا ما نقدمه</Translation>
    <Translation Language="en-US">This is what we do</Translation>
  </Translations>
</Dictionary>