<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="44668aae-eedd-4c28-9c09-112dd17bf0ad" Alias="PleaseSelect" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">اختر من فضلك </Translation>
    <Translation Language="en-US">Please Select</Translation>
  </Translations>
</Dictionary>