<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="500cc970-4981-43d7-8608-5522bc130bca" Alias="SearchText" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">كلمة البحث</Translation>
    <Translation Language="en-US">Search Text</Translation>
  </Translations>
</Dictionary>