<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/App_Plugins/SurveyTemplates/css/CustomTables.css" rel="stylesheet" />
    <script src="/js/config.js"></script>

</head>
<body>
    <div ng-controller="CreateTableGridController as vm" class="Table-wrapper">
        <div class="umb-panel umb-editor-wrapper">
            <div class="umb-editor-header">
                <div class="flex items-center" style="height:100%;">
                    <h1 class="umb-panel-header-name">Build Template</h1>
                </div>
            </div>
            <form name="tableForm">
                <div class="umb-editor-container">
                    <div class="umb-pane">
                        <div class="umb-pane-content">

                            <div class="umb-box">
                                <div class="block-form umb-box-content">

                                    <!-- Create Table Form -->

                                    <div class="control-group umb-control-group">
                                        <div class="umb-el-wrap">
                                            <label for="tableName" class="control-label">
                                                <span class="ng-binding">Template Name</span>
                                                <span class="ng-scope"> <strong class="umb-control-required">*</strong> </span>
                                            </label>

                                            <div class="controls">
                                                <input type="text" id="tableName" placeholder="Enter Template name" class="input-block-level" name="tableName" required ng-model="tableName" ng-pattern="/^[^\s]+$/">
                                                <span class="text-error" ng-show="tableForm.tableName.$error.required && tableForm.tableName.$touched">Please enter Template name</span>
                                                <span class="text-error" ng-show="tableForm.tableName.$error.pattern && tableForm.tableName.$touched">Spaces are not allowed in the Template name.</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div>
                                        <div class="hint">
                                            <strong>Hint:</strong> Select the checkbox next to an item if you want it to be included as a calculated column.
                                        </div>

                                        <div id="content-list">
                                            <!-- Dynamic content will be added here -->

                                        </div>

                                        <div class="actions">
                                            <button id="add-content" class="umb-group-builder__group-add-property ng-scope" ng-click="vm.showAddModal()">+ Add New Content</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-editor-footer ng-scope">
                    <div class="umb-editor-footer-content">
                        <div class="umb-editor-footer-content__left-side ng-scope">
                            <div class="umb-breadcrumbs">
                                <a class="umb-breadcrumbs__ancestor-link" href="/umbraco#/surveyBuilder/SurveyTemplatesAlias/Templates">Back</a>
                            </div>
                        </div>

                        <div class="umb-editor-footer-content__right-side ng-scope">
                            <button id="save-content" class="btn umb-button__button btn-success umb-button-- umb-outline" ng-click="vm.Save()">Save</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</body>
</html>