<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6afaf65e-1776-42b2-bea5-c7ad4394ce13" Alias="Blog - Blog Category - Multinode Treepicker" Level="1">
  <Info>
    <Name>Blog - Blog Category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "category",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/056f4093f1a94aa197fd3ec236fd923b",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>