<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd1e0da5-5606-4862-b679-5d0cf3a52a59" Alias="Category - Content Picker" Level="1">
  <Info>
    <Name>Category - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/056f4093f1a94aa197fd3ec236fd923b"
}]]></Config>
</DataType>