<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ab82fb4-4f5c-4a54-b2c9-99a4ccad20d9" Alias="Form - Block List" Level="1">
  <Info>
    <Name>Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#bcbcbc",
      "contentElementTypeKey": "bb23f80b-7531-4195-b8a9-76f2556a5ec5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#0b5394",
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": true,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>