<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c682bab-760e-4cb4-a123-d82a1ff8a393" Alias="MenuNode - Redirect To - Multinode Treepicker" Level="1">
  <Info>
    <Name>MenuNode - Redirect To - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 3,
  "MinNumber": 1,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/0163c95482fe42b1a504651377e9064f",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>