<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d41908c0-c42d-4c59-9462-d583d28bc80b" Alias="Question - Textbox" Level="1">
  <Info>
    <Name>Question - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>