<?xml version="1.0" encoding="utf-8"?>
<DataType Key="476a9baf-89f3-405e-8817-cde8df4de10a" Alias="Survey - Active Survey - SurveyListDropDown" Level="1">
  <Info>
    <Name>Survey - Active Survey - SurveyListDropDown</Name>
    <EditorAlias>surveyListDropDown</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>