<?xml version="1.0" encoding="utf-8"?>
<DataType Key="22a89930-996d-4204-9f65-3cfdfc65c22e" Alias="Survey - Survey - SurveyListDropDown" Level="1">
  <Info>
    <Name>Survey - Survey - SurveyListDropDown</Name>
    <EditorAlias>surveyListDropDown</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>