@using System.Net.Http;
@using System.Text.Json;
@using System.Threading.Tasks;
@using System.Collections.Generic;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.BLogs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = "Master.cshtml";


}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Filtration -->
<div id="blogFilters" class="container px-4 px-lg-5">
    <form id="filterForm">
        <div class="row p-2">

            <div class="form-group col-md-4">
                <label for="searchText">Search Text:</label>
                <input type="text" id="searchText" name="searchText" class="form-control">
            </div>

            <div class="form-group col-md-4">
                <label for="category">Category:</label>
                <select id="category" name="category" class="form-control">
                    <option value="">Select Category</option>
                    <!-- Dynamically load categories -->
                </select>
            </div>

        </div>
        <div class=" row p-2">
            <div class="form-group col-md-4">
                <label for="dateFrom">Date From:</label>
                <input type="date" id="dateFrom" name="dateFrom" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="dateTo">Date To:</label>
                <input type="date" id="dateTo" name="dateTo" class="form-control">
            </div>
        </div>

        <div class="row justify-content-end p-4">
            <button type="button" id="applyFilters" class=" col-md-2 btn btn-primary">Apply Filters</button>
        </div>
    </form>
    <hr />
</div>



<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <div id="blog-posts">
            </div>

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>

<!-- script -->
<script src="/js/blogsScript.js"></script>



