<?xml version="1.0" encoding="utf-8"?>
<Webhook Key="61f5209c-3e26-4d01-99d3-27d7aaab0c55" Alias="https://webhook.site/d6230e75-7940-45a7-8711-6da46dcd3e6f" Level="0">
  <Url>https://webhook.site/d6230e75-7940-45a7-8711-6da46dcd3e6f</Url>
  <Enabled>true</Enabled>
  <ContentTypeKeys />
  <Events>
    <Event>Umbraco.ContentPublish</Event>
  </Events>
  <Headers />
</Webhook>