<?xml version="1.0" encoding="utf-8"?>
<Webhook Key="8f49647a-dac3-4cc4-beb5-2d01581f7f69" Alias="https://localhost:7018/api/Logging/PostLog" Level="0">
  <Url>https://localhost:7018/api/Logging/PostLog</Url>
  <Enabled>true</Enabled>
  <ContentTypeKeys>
    <Key>60ed4c89-76e5-40ef-8a0f-90c46a938c94</Key>
  </ContentTypeKeys>
  <Events>
    <Event>ContentPublishedLogged</Event>
  </Events>
  <Headers />
</Webhook>