<?xml version="1.0" encoding="utf-8"?>
<Webhook Key="f13c2549-f586-43d3-a8d5-6b1f21a5d00f" Alias="https://webhook.site/d6230e75-7940-45a7-8711-6da46dcd3e6f" Level="0">
  <Url>https://webhook.site/d6230e75-7940-45a7-8711-6da46dcd3e6f</Url>
  <Enabled>true</Enabled>
  <ContentTypeKeys />
  <Events>
    <Event>memberSaved</Event>
  </Events>
  <Headers />
</Webhook>