<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f025125-667f-48d7-83ad-6d7209ba6d90" Alias="bLogs" Level="2">
  <Info>
    <Name>BLogs</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blogs</Folder>
    <Compositions />
    <DefaultTemplate>BLogs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c7605899-2b80-4cc9-aac1-128b1ed1ed9f">BLogs</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="60ed4c89-76e5-40ef-8a0f-90c46a938c94" SortOrder="0">blog</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b60a4dac-5137-4194-8404-59caa0a44e79</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>40342e5d-8bde-4c56-8829-d17ab86339bb</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>