<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99bc016e-51f1-49f8-98ed-a9d57d28163e" Alias="categories" Level="2">
  <Info>
    <Name>Categories</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Categories</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6b91e1f4-7dca-4314-8c83-9f3da805f1e0" SortOrder="0">category</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>