<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8fac5364-66d3-41dc-a876-871d21890582" Alias="events" Level="2">
  <Info>
    <Name>Events</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Events</Folder>
    <Compositions>
      <Composition Key="1ed2033f-4627-4c88-ad20-262bf6559571">composition1</Composition>
    </Compositions>
    <DefaultTemplate>Events</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ad265d29-5c27-4e40-9009-39c3f737b515">Events</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f57b5fd9-a48b-4619-8165-586cbd7d124c" SortOrder="0">eventItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>4874e6f5-ef1e-4525-bdf5-c4d4160d60c3</Key>
      <Name>Decription</Name>
      <Alias>decription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2a1531f-c6ef-4f2a-a149-6323403ddf61</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8b468cfd-4d5d-4910-a162-1b8617359f7f</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>