<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="69a04a9b-353c-4d3d-9bcc-7ed6986667c0" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="16cd8fc8-56a1-4c80-b5a9-cf9f16d77d8b">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7f025125-667f-48d7-83ad-6d7209ba6d90" SortOrder="0">bLogs</ContentType>
    <ContentType Key="d176fce6-3f3e-445a-80dc-dd05c5dbdad4" SortOrder="1">aboutUs</ContentType>
    <ContentType Key="99bc016e-51f1-49f8-98ed-a9d57d28163e" SortOrder="2">categories</ContentType>
    <ContentType Key="8fac5364-66d3-41dc-a876-871d21890582" SortOrder="3">events</ContentType>
    <ContentType Key="72fc2427-7840-47b9-8af8-c16154528606" SortOrder="4">menuNode</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>47b36ee1-60cd-4072-9b27-d3d3067035b0</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>79e3f005-e1cd-4f87-bc61-b9e34030d286</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>