<?xml version="1.0" encoding="utf-8"?>
<Content Key="6cf719d8-52f0-4dcc-9eff-e89058a5fad3" Alias="AboutUs" Level="2">
  <Info>
    <Parent Key="0163c954-82fe-42b1-a504-651377e9064f">Home</Parent>
    <Path>/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2024-11-27T13:29:41</CreateDate>
    <NodeName Default="AboutUs">
      <Name Culture="ar-eg">AboutUs</Name>
      <Name Culture="en-us">AboutUs</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="bbabd9a3-196e-4e0b-b1c1-358591860a11">AboutUs</Template>
  </Info>
  <Properties>
    <title>
      <Value Culture="ar-eg"><![CDATA[من نحن]]></Value>
      <Value Culture="en-us"><![CDATA[About Us]]></Value>
    </title>
  </Properties>
</Content>