<?xml version="1.0" encoding="utf-8"?>
<Content Key="f09b3e46-1669-4376-8d7f-d839014ace54" Alias="Blogs" Level="2">
  <Info>
    <Parent Key="0163c954-82fe-42b1-a504-651377e9064f">Home</Parent>
    <Path>/Home/Blogs</Path>
    <Trashed>false</Trashed>
    <ContentType>bLogs</ContentType>
    <CreateDate>2024-12-03T15:29:07</CreateDate>
    <NodeName Default="Blogs">
      <Name Culture="ar-eg">Blogs</Name>
      <Name Culture="en-us">Blogs</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c7605899-2b80-4cc9-aac1-128b1ed1ed9f">BLogs</Template>
  </Info>
  <Properties>
    <title>
      <Value Culture="ar-eg"><![CDATA[مدونات]]></Value>
      <Value Culture="en-us"><![CDATA[Blogs]]></Value>
    </title>
  </Properties>
</Content>