<?xml version="1.0" encoding="utf-8"?>
<Content Key="056f4093-f1a9-4aa1-97fd-3ec236fd923b" Alias="Categories" Level="2">
  <Info>
    <Parent Key="0163c954-82fe-42b1-a504-651377e9064f">Home</Parent>
    <Path>/Home/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2024-12-03T15:28:34</CreateDate>
    <NodeName Default="Categories">
      <Name Culture="ar-eg">Categories</Name>
      <Name Culture="en-us">Categories</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>