<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7799feb-1588-4a5c-88a1-e4a723f7d56f" Alias="Events" Level="3">
  <Info>
    <Parent Key="056f4093-f1a9-4aa1-97fd-3ec236fd923b">Categories</Parent>
    <Path>/Home/Categories/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-12-03T15:29:44</CreateDate>
    <NodeName Default="Events">
      <Name Culture="ar-eg">Events</Name>
      <Name Culture="en-us">Events</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="ar-eg"><![CDATA[فعاليات]]></Value>
      <Value Culture="en-us"><![CDATA[Events]]></Value>
    </title>
  </Properties>
</Content>