<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d59a53e-4038-4e81-bff9-cf0066534d1e" Alias="Event Item 1" Level="3">
  <Info>
    <Parent Key="b40dd3a8-f17d-436a-9322-e4121e793fd5">Events</Parent>
    <Path>/Home/Events/EventItem1</Path>
    <Trashed>false</Trashed>
    <ContentType>eventItem</ContentType>
    <CreateDate>2024-12-29T13:43:16</CreateDate>
    <NodeName Default="Event Item 1">
      <Name Culture="ar-eg">Event Item 1</Name>
      <Name Culture="en-us">Event Item 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="05dbfe00-1a9b-47ab-94d6-90af33d1e76f">EventItem</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="ar-eg"><![CDATA[{
  "markup": "<p>فاعليات جديدة</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>New Events</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <title>
      <Value Culture="ar-eg"><![CDATA[اول فاعلية]]></Value>
      <Value Culture="en-us"><![CDATA[First Event]]></Value>
    </title>
  </Properties>
</Content>