<?xml version="1.0" encoding="utf-8"?>
<Content Key="b40dd3a8-f17d-436a-9322-e4121e793fd5" Alias="Events" Level="2">
  <Info>
    <Parent Key="0163c954-82fe-42b1-a504-651377e9064f">Home</Parent>
    <Path>/Home/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>events</ContentType>
    <CreateDate>2024-12-29T13:36:29</CreateDate>
    <NodeName Default="Events">
      <Name Culture="ar-eg">Events</Name>
      <Name Culture="en-us">Events</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ad265d29-5c27-4e40-9009-39c3f737b515">Events</Template>
  </Info>
  <Properties>
    <decription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </decription>
    <metaData>
      <Value><![CDATA[]]></Value>
    </metaData>
    <title>
      <Value Culture="ar-eg"><![CDATA[فعاليات]]></Value>
      <Value Culture="en-us"><![CDATA[Events]]></Value>
    </title>
  </Properties>
</Content>