<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cb7d4c6-f6db-42a9-a0b9-1997502603d8" Alias="Failure is not an option" Level="3">
  <Info>
    <Parent Key="f09b3e46-1669-4376-8d7f-d839014ace54">Blogs</Parent>
    <Path>/Home/Blogs/FailureIsNotAnOption</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2024-12-03T15:49:32</CreateDate>
    <NodeName Default="Failure is not an option">
      <Name Culture="ar-eg">Failure is not an option</Name>
      <Name Culture="en-us">Failure is not an option</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="ar-eg">false</Published>
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template Key="11e95f40-5631-46d3-8e17-eb4bc2eb7215">Blog</Template>
  </Info>
  <Properties>
    <blogCategory>
      <Value><![CDATA[umb://document/a7799feb15884a5c88a1e4a723f7d56f]]></Value>
    </blogCategory>
    <blogDate>
      <Value><![CDATA[2023-12-01T00:00:00]]></Value>
    </blogDate>
    <blogTag>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </blogTag>
    <brief>
      <Value Culture="ar-eg"><![CDATA[يقول الكثيرون أن الاستكشاف هو جزء من مصيرنا، لكنه في الواقع واجبنا تجاه الأجيال القادمة.]]></Value>
      <Value Culture="en-us"><![CDATA[Many say exploration is part of our destiny, but it’s actually our duty to future generations.]]></Value>
    </brief>
    <description>
      <Value Culture="ar-eg"><![CDATA[{
  "markup": "<p><strong>الوصول إلى النجوم</strong></p>\n<p>مع ابتعادنا أكثر فأكثر، تقلص حجم الأرض. وفي النهاية تقلص حجمها إلى حجم كرة الرخام، وهو أجمل ما يمكنك تخيله. بدا ذلك الجسم الحي الجميل الدافئ هشًا وحساسًا للغاية، لدرجة أنه إذا لمسته بإصبعك فإنه ينهار ويتفكك. إن رؤية هذا لابد وأن تغير الإنسان.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<h2 class=\"\\&quot;section-heading\\&quot;\">Reaching for the Stars</h2>\n<p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.</p>\n<h4>To go places and do things that have never been done before – that’s what living is all about.</h4>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <image>
      <Value><![CDATA[{
  "src": "/media/wgcdozmm/post-sample-image.jpg"
}]]></Value>
    </image>
    <title>
      <Value Culture="ar-eg"><![CDATA[الفشل ليس خيارا]]></Value>
      <Value Culture="en-us"><![CDATA[Failure is not an option]]></Value>
    </title>
  </Properties>
</Content>