<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa4dad16-b419-4983-b815-6391c6059c83" Alias="Forms" Level="2">
  <Info>
    <Parent Key="0163c954-82fe-42b1-a504-651377e9064f">Home</Parent>
    <Path>/Home/Forms</Path>
    <Trashed>false</Trashed>
    <ContentType>forms</ContentType>
    <CreateDate>2025-02-11T15:19:34</CreateDate>
    <NodeName Default="Forms" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e8499221-8700-4741-86e2-d640bc3d3bba">Forms</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Forms]]></Value>
    </title>
  </Properties>
</Content>