<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ab43ac1-3a17-4d69-97e6-7866a89ad346" Alias="Form1" Level="3">
  <Info>
    <Parent Key="aa4dad16-b419-4983-b815-6391c6059c83">Forms</Parent>
    <Path>/Home/Forms/Form1</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2025-02-11T15:22:23</CreateDate>
    <NodeName Default="Form1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="acd4b47e-e701-4614-8da2-3c576a3d5ba7">Form</Template>
  </Info>
  <Properties>
    <questions>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fe8d8ccad80c46eeb2dbb137ed4e5497"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bb23f80b-7531-4195-b8a9-76f2556a5ec5",
      "question": "Enter Your Name",
      "udi": "umb://element/fe8d8ccad80c46eeb2dbb137ed4e5497"
    }
  ],
  "settingsData": []
}]]></Value>
    </questions>
    <title>
      <Value><![CDATA[Form1]]></Value>
    </title>
  </Properties>
</Content>