<?xml version="1.0" encoding="utf-8"?>
<Content Key="0163c954-82fe-42b1-a504-651377e9064f" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-11-27T11:11:18</CreateDate>
    <NodeName Default="Home">
      <Name Culture="ar-eg">Home</Name>
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="16cd8fc8-56a1-4c80-b5a9-cf9f16d77d8b">Home</Template>
  </Info>
  <Properties>
    <title>
      <Value Culture="ar-eg"><![CDATA[الصفحة الرئيسية]]></Value>
      <Value Culture="en-us"><![CDATA[Home]]></Value>
    </title>
  </Properties>
</Content>