<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba2cf760-1569-4d3f-8ba1-0e72b73ead45" Alias="Man must explore, and this is exploration at its greatest" Level="3">
  <Info>
    <Parent Key="f09b3e46-1669-4376-8d7f-d839014ace54">Blogs</Parent>
    <Path>/Home/Blogs/ManMustExploreAndThisIsExplorationAtItsGreatest</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2024-12-03T15:32:54</CreateDate>
    <NodeName Default="Man must explore, and this is exploration at its greatest">
      <Name Culture="ar-eg">Man must explore, and this is exploration at its greatest</Name>
      <Name Culture="en-us">Man must explore, and this is exploration at its greatest</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="ar-eg">false</Published>
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template Key="11e95f40-5631-46d3-8e17-eb4bc2eb7215">Blog</Template>
  </Info>
  <Properties>
    <blogCategory>
      <Value><![CDATA[umb://document/59a52d9c8c1449c782895a49844d4a14]]></Value>
    </blogCategory>
    <blogDate>
      <Value><![CDATA[2020-12-01T00:00:00]]></Value>
    </blogDate>
    <blogTag>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </blogTag>
    <brief>
      <Value Culture="ar-eg"><![CDATA[تبدو المشاكل صغيرة جدًا من مسافة 150 ميلًا خيارا]]></Value>
      <Value Culture="en-us"><![CDATA[Problems look mighty small from 150 miles up]]></Value>
    </brief>
    <description>
      <Value Culture="ar-eg"><![CDATA[{
  "markup": "<p>لم يتمكن البشر قط في تاريخهم كله من تصور العالم على أنه عالم واحد: كرة واحدة، أو كرة أرضية، لها صفات الكرة الأرضية، أرض مستديرة تلتقي فيها كل الاتجاهات في النهاية، ولا يوجد فيها مركز لأن كل نقطة، أو لا شيء منها، هي مركز ـ أرض متساوية يشغلها جميع البشر على قدم المساواة. وإذا نجح رجال أحرار في جعل أرض الطيارين كروية حقاً: كرة أرضية في الممارسة العملية، وليس في النظرية.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <image>
      <Value><![CDATA[{
  "src": "/media/c4tkyqz4/contact-bg.jpg",
  "crops": [
    {
      "alias": "Listing",
      "coordinates": {
        "x1": 0.6491228070175439,
        "y1": 0.18880369827489005,
        "x2": 0,
        "y2": 0.28501897996767755
      }
    },
    {
      "alias": "Details",
      "coordinates": {
        "x1": 0,
        "y1": 0.04820441988950283,
        "x2": 0.4575977443609023,
        "y2": 0.1384062464764913
      }
    }
  ]
}]]></Value>
    </image>
    <title>
      <Value Culture="ar-eg"><![CDATA[يجب على الإنسان أن يستكشف، وهذا هو الاستكشاف في أعظم صوره]]></Value>
      <Value Culture="en-us"><![CDATA[Man must explore, and this is exploration at its greatest]]></Value>
    </title>
  </Properties>
</Content>