<?xml version="1.0" encoding="utf-8"?>
<Content Key="a06acaa1-db9e-49fc-958f-77254554f5b1" Alias="Menu" Level="2">
  <Info>
    <Parent Key="0163c954-82fe-42b1-a504-651377e9064f">Home</Parent>
    <Path>/Home/Menu</Path>
    <Trashed>false</Trashed>
    <ContentType>menuNode</ContentType>
    <CreateDate>2024-12-31T16:46:56</CreateDate>
    <NodeName Default="Menu">
      <Name Culture="ar-eg">Menu</Name>
      <Name Culture="en-us">Menu</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <redirectTo>
      <Value Culture="ar-eg"><![CDATA[umb://document/f09b3e46166943768d7fd839014ace54,umb://document/6cf719d852f04dcc9effe89058a5fad3]]></Value>
      <Value Culture="en-us"><![CDATA[umb://document/f09b3e46166943768d7fd839014ace54,umb://document/6cf719d852f04dcc9effe89058a5fad3]]></Value>
    </redirectTo>
    <title>
      <Value Culture="ar-eg"><![CDATA[القائمة ]]></Value>
      <Value Culture="en-us"><![CDATA[Menu]]></Value>
    </title>
  </Properties>
</Content>