<?xml version="1.0" encoding="utf-8"?>
<Content Key="59a52d9c-8c14-49c7-8289-5a49844d4a14" Alias="News" Level="3">
  <Info>
    <Parent Key="056f4093-f1a9-4aa1-97fd-3ec236fd923b">Categories</Parent>
    <Path>/Home/Categories/News</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-12-03T15:30:41</CreateDate>
    <NodeName Default="News">
      <Name Culture="ar-eg">News</Name>
      <Name Culture="en-us">News</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value Culture="ar-eg"><![CDATA[أخبار]]></Value>
      <Value Culture="en-us"><![CDATA[News]]></Value>
    </title>
  </Properties>
</Content>