<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbfddbf4-34c7-4a04-a9a9-676393fb2a7a" Alias="Survey 1" Level="3">
  <Info>
    <Parent Key="65556e85-1b1f-4b03-aec7-25d7c819638a">Surveys</Parent>
    <Path>/Home/Surveys/Survey1</Path>
    <Trashed>false</Trashed>
    <ContentType>survey</ContentType>
    <CreateDate>2025-07-01T12:30:16</CreateDate>
    <NodeName Default="Survey 1">
      <Name Culture="ar-eg">Survey 1</Name>
      <Name Culture="en-us">Survey 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="eb63eefb-9c0f-4d4e-b4df-ce9d22ebe4cd">Survey</Template>
  </Info>
  <Properties>
    <activeSurvey>
      <Value><![CDATA[9bcbe374-f8ab-452e-9ede-08ddb243e276]]></Value>
    </activeSurvey>
    <title>
      <Value Culture="ar-eg"><![CDATA[استبيان]]></Value>
      <Value Culture="en-us"><![CDATA[Survey]]></Value>
    </title>
  </Properties>
</Content>