<?xml version="1.0" encoding="utf-8"?>
<Content Key="65556e85-1b1f-4b03-aec7-25d7c819638a" Alias="Surveys" Level="2">
  <Info>
    <Parent Key="0163c954-82fe-42b1-a504-651377e9064f">Home</Parent>
    <Path>/Home/Surveys</Path>
    <Trashed>false</Trashed>
    <ContentType>surveys</ContentType>
    <CreateDate>2025-07-01T12:29:32</CreateDate>
    <NodeName Default="Surveys">
      <Name Culture="ar-eg">Surveys</Name>
      <Name Culture="en-us">Surveys</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b61fc6da-c91f-4e7b-9dc9-4920158d2032">Surveys</Template>
  </Info>
  <Properties />
</Content>